.desc-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.desc-list__elem {
  position: relative;

  display: flex;
  align-items: center;
  margin: 0 0 25px;
  padding: 0 0 0 60px;
  min-height: 40px;

  font-family: $lato;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  line-height: 14.4px;
  letter-spacing: 0.05em;
  color: $blueMain;

  &:last-child {
    margin-bottom: 0;
  }

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;

    display: block;
    width: 40px;
    height: 40px;

    transform: translateY(-20px);
  }

  &--dumbbell {
    &::before {
      background-image: url("../img/icon-dumbbell.svg");
      background-position: 0 center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  &--balance {
    &::before {
      background-image: url("../img/icon-balance.svg");
      background-position: 0 center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  &--weather {
    &::before {
      background-image: url("../img/icon-weather.svg");
      background-position: 0 center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  &--self-awareness {
    &::before {
      background-image: url("../img/icon-self-awareness.svg");
      background-position: 0 center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  &--eye {
    &::before {
      background-image: url("../img/icon-eye.svg");
      background-position: 0 center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  &--ok {
    &::before {
      background-image: url("../img/icon-ok.svg");
      background-position: 0 center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  &--water {
    &::before {
      background-image: url("../img/icon-water.svg");
      background-position: 0 center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  &--award {
    &::before {
      background-image: url("../img/icon-award.svg");
      background-position: 0 center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  &--charity {
    &::before {
      background-image: url("../img/icon-charity.svg");
      background-position: 0 center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  &--shield {
    &::before {
      background-image: url("../img/icon-shield.svg");
      background-position: 0 center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  &--freedom {
    &::before {
      background-image: url("../img/icon-freedom.svg");
      background-position: 0 center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  &--drops {
    &::before {
      background-image: url("../img/icon-drops.svg");
      background-position: 0 center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  &--warning {
    &::before {
      background-image: url("../img/icon-warning.svg");
      background-position: 0 center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  @media screen and (min-width: 1024px) {
    margin: 0 0 90px;
    padding: 0 0 0 100px;
    min-height: 75px;

    font-size: 25px;
    line-height: 30px;

    &::before {
      width: 75px;
      height: 75px;

      transform: translateY(-37.5px);
    }

    &--balance {
      &::before {
        left: -15px;
      }
    }

    &--weather {
      &::before {
        left: -30px;
      }
    }

    &--self-awareness {
      &::before {
        left: -45px;
      }
    }

    &--eye {
      &::before {
        left: -65px;
      }
    }

    &--ok {
      &::before {
        left: -90px;
      }
    }
  }
}
