.main-nav {
  position: relative;

  margin: 0 0 0 30px;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
  width: 100%;
  max-width: 1170px;

  @include smooth;

  @media screen and (max-width: 768px) {
    transform: translateX(-100%);
    align-items: center;
  }
}

.main-nav--opened {
  @media screen and (max-width: 768px) {
    transform: translateX(0);
  }
}

.main-nav__burger-toggle {
  position: relative;

  display: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 24px;
  height: 17px;

  background: none;
  border: none;

  cursor: pointer;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;

    display: block;

    width: 24px;
    height: 3px;

    background-color: $greyBlueDark;
    border-radius: 3px;

    @include smooth;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }

  &--opened {
    &::before {
      top: 40%;
      transform: rotate(45deg);
    }

    &::after {
      top: 40%;
      transform: rotate(-45deg);
    }
  }

  @media screen and (max-width: 768px) {
    display: block;
  }
}

.main-nav__burger-toggle--opened .main-nav__burger-line {
  transform: scale(0);

  @include smooth;
}

.main-nav__burger-line {
  display: block;

  width: 24px;
  height: 3px;

  background-color: $greyBlueDark;
  border-radius: 3px;
}

.main-nav__list {
  margin: 0;
  padding: 0;

  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  align-items: stretch;

  list-style: none;

  background-color: $trueWhite;

  @media screen and (max-width: 768px) {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

.main-nav__item {
  margin: 0 0 10px;
  padding: 0;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.main-nav__link {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: $lato;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  color: $blackMain;

  @media screen and (max-width: 1024px) {
    font-size: 18px;
    line-height: 24px;
  }

  @media screen and (max-width: 768px) {
    font-size: 15px;
    line-height: 25px;
  }
}

.main-nav__link span {
  position: relative;
}

.main-nav__link span::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;

  display: block;
  width: 100%;
  height: 1px;

  background-color: $blackMain;
  border-radius: 1px;

  transform: scaleX(0);

  @include smooth;
}

.main-nav__link:hover > span::after,
.main-nav__link:focus > span::after {
  transform: scaleX(1);
}
